{% extends 'reimbursement/layouts/main.html' %}
{% block title %}
  Admin
{% endblock title %} 
 
{% block content %}
<h1>admin page</h1>
<style>
    body {
        background-color: #0fd429; /* Change background color to light gray */
    }
    .card{
        
        margin-inline-start: 20%;
        margin-inline-end: -25%;

    }
    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }
</style>
<div class="container mt-5">
  <div class="row">
      {% for employee in employees %}
      <div class="col-md-4">
          <div class="card">
              <div class="card-body">
                  <p class="card-title" style="font-weight: bold;">Employee name :{{ employee.employee_name }}</p>
                  <p class="card-text" style="font-weight: bold;">Employee Code: {{ employee.employee_code }}</p>
                  <p class="card-text" style="font-weight: bold;">Email: {{ employee.email }}</p>
                  <a href="{{ employee.upload.url }}" class="btn btn-primary"  download>Download Photo</a>
                  <p class="card-text" style="font-weight: bold;">Mobile Number: {{ employee.mobile_number }}</p>
                  <p class="card-text" style="font-weight: bold;">Description: {{ employee.description }}</p>
                  <p class="card-text" style="font-weight: bold;"> Status: {{ employee.status }}</p>

                  <form id="updateStatusForm{{ employee.id }}">
                    {% csrf_token %}
                    <input type="hidden" name="employee_id" value="{{ employee.id }}">
                    <select name="status" style="font-weight: bold;">
                        <option value="pending" >Pending</option>
                        <option value="accept">Accept</option>
                        <option value="reject">Reject</option>
                    </select>
                    <button type="button" style="font-weight: bold;" onclick="updateStatus('{{ employee.id }}')">Update Status</button>
</form>
              </div>
          </div>
      </div>
      {% endfor %}
  </div>
</div>

<script>
function updateStatus(employeeId) {
    var form = document.getElementById('updateStatusForm' + employeeId);
    var formData = new FormData(form);

    fetch("{% url 'admin_update_status' %}", {
        method: 'POST',
        body: formData
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        // Optionally handle response here
    })
    .catch(error => {
        console.error('There was a problem with the fetch operation:', error);
    });
}
</script>
{% endblock content %}
